<!DOCTYPE html>
<html lang="zh-CH">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="/static/sweetalert.css">
    <link rel="stylesheet" href="/static/assets/style/login_style.css">
</head>

{% include 'navigate_templates2.html' %}

<body>
{#导入导航框#}
{#{% include 'navigate_templates.html' %}#}

{#<div class="container">#}
{#    <div class="row">#}
{#        <h1 class="col-sm-4 col-md-offset-5">登 &nbsp;&nbsp;&nbsp; 录</h1>#}
{#    </div>#}
{##}
{#</div>#}


{#{% for foo in form_obj %}#}
{#    <div class="form-group col-sm-4 col-sm-offset-4">#}
{#        <label for="{{ foo.id_for_label }}">{{ foo.label }}</label>#}
{#        {{ foo }}#}
{#        <span class="text-danger"></span>#}
{#    </div>#}
{#{% endfor %}#}

{% csrf_token %}
{#<div class="form-group col-sm-4 col-sm-offset-5">#}
{#    <br>#}
{#    <div class="row">#}
{#        <div id="popup-captcha"></div>#}
{#    </div>#}
{#    <br><br>#}
{#    <input type="button" id="login" class="btn btn-default" value="提交">#}
{#    <a href="/enrol/" class="btn btn-default col-sm-offset-1">注册</a>#}
{##}
{#</div>#}

<div class="login_container right-panel-active" style="margin: -50px auto">
    <!-- 注册 -->
    <div class="container_form container--signup">
        <form action="#" class="form" id="form1">
            <h2 class="form_title">Sign Up</h2>
            <input type="text" placeholder="User" class="input" id="id_username_enrol"/>
            <input type="password" placeholder="Password" class="input" id="id_password_enrol"/>
            <input type="password" placeholder="Confirm Password" class="input" id="id_password2_enrol"/>
            <button class="btn" id="enrol">Sign Up</button>
        </form>
    </div>

    <div class="form-group col-sm-4 col-sm-offset-4" style="z-index: -5">
        <label for="id_img">
            <br>
            <img id="idimg" src="../media/photo/default.jpg" width="80px" height="80px" alt="" style="display: none">
            <input type="file" accept="image/*" id="id_img" style="display: none">
        </label>
    </div>

    <!-- 登录 -->
    <div class="container_form container--signin">
        <form action="#" class="form" id="form2">
            <h2 class="form_title">Sign In</h2>
            <input type="text" placeholder="Your ID" class="input" id="id_username"/>
            <input type="password" placeholder="Password" class="input" id="id_password"/>
            <a href="#" class="link">Forgot your password?</a>
            <button class="btn" id="login">Sign In</button>
        </form>
    </div>

    <!-- 浮层 -->
    <div class="container_overlay">
        <div class="overlay">
            <div class="overlay_panel overlay--left">
                <button class="btn" id="signIn">Sign In</button>
            </div>
            <div class="overlay_panel overlay--right">
                <button class="btn" id="signUp">Sign Up</button>
            </div>
        </div>
    </div>
</div>

<div class="slidershow" style="z-index: -100">
    <div class="slidershow--image" style="background-image: url('../static/figs/006AYjs4ly1g9f2mh2id8j31jk0yex6p (1).jpg');z-index: -1;"></div>
</div>


<script src="/static/jquery-3.3.1.js"></script>
<script src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="/static/sweetalert.min.js"></script>
<script src="/static/AjaxPostPatch.js"></script>
<script src="/static/assets/script/login_script.js"></script>
{#引入failback的接口--initGeetest#}
{#<script src="https://static.geetest.com/static/tools/gt.js"></script>#}
<script>
    $("#login").click(function () {
        $.ajax({
            url: "/login/",
            type: 'post',
            dataType: "json",
            data: {
                "csrfmiddlewaretoken": $("input[name = 'csrfmiddlewaretoken']").val(),
                'username': $('#id_username').val(),
                "password": $("#id_password").val()
            },
            success: function (data) {

                var dat = data;

                {#如果mode === 1 为登录成功返回主页#}
                if (dat.mode === 1) {
                    alert("登录成功");
                    location.href = "/home/"
                } else if (dat.mode === 0) {
                    {#如果mode为0则为密码不正确#}
                    $("#id_username,#id_password").parent().addClass("has-error");
                    var $d1 = document.createElement("span");
                    $($d1).text(dat.data);
                    $($d1).attr("class", "text-danger");
                    $($d1).insertAfter($("#id_password"))

                } else if (dat.mode === 2) {
                    {#如果mode为2则验证不通过#}
                    $("#id_username,#id_password").parent().addClass("has-error");
                    $.each(dat.errors, function (k, v) {
                        $("#id_" + k).next("span").text(v[0])
                    });


                }
            }
        })
    });
    {#每次获取input标签清空创建的提示#}
    $("input").on("focus", function () {
        $("#id_username,#id_password").next("span").text("");
        $("#id_username,#id_password").parent().removeClass("has-error")

    });
    $("#login").on("click", function () {
        $("#id_username,#id_password").next("span").text("");
        $("#id_username,#id_password").parent().removeClass("has-error")

    })


    {#----------------------------#}


    $("#id_img").on("change", function () {
        var fileReader = new FileReader();
        fileReader.readAsDataURL(this.files[0]);
        fileReader.onload = function () {
            $("#idimg").attr("src", fileReader.result)
        }
    });

    $("#enrol").on("click", function () {
        var formData = new FormData();
        formData.append("avatar", $("#id_img")[0].files[0]);
        formData.append("username", $("#id_username_enrol").val());
        formData.append("password", $("#id_password_enrol").val());
        formData.append("password2", $("#id_password2_enrol").val());
        formData.append("csrfmiddlewaretoken", $("input[name = 'csrfmiddlewaretoken']").val());

        $.ajax({
            url: "/enrol/",
            type: 'post',
            dataType: "json",
            processData: false,
            contentType: false,
            data: formData,
            success: function (data) {
                var dat = data;
                if (dat.mode === 1) {
                    alert("注册成功");
                    console.log("hahduagdugsaudgu");
                    const container = document.querySelector(".login_container");

                    container.classList.remove("right-panel-active");

                    {#location.href = "/home/"#}
                } else if (dat.mode === 0) {
                    {#如果mode为0则注册失败#}
                    $("#id_username_enrol,#id_password_enrol,#id_password2_enrol").parent().addClass("has-error");
                    var $d1 = document.createElement("div");
                    $($d1).text(dat.data);
                    $($d1).attr("class", "text-danger");
                    $($d1).insertAfter($("#id_password"))

                } else if (dat.mode === 2) {
                    {#如果mode为2则验证不通过#}
                    $("#id_username_enrol,#id_password_enrol,#id_password2_enrol").parent().addClass("has-error");

                    $.each(dat.errors, function (k, v) {
                        console.log(k)
                        console.log(v[0])
                        if (k === "password2") {
                            $("#id_" + "password2" + "_enrol").next("span").text(v[0]);
                        }
                    });
                }
            }
        })
    });
    $("input").on("focus", function () {
        $("#id_username_enrol,#id_password_enrol,#id_password2_enrol").next("span").text("");
        $("#id_username_enrol,#id_password_enrol,#id_password2_enrol").parent().removeClass("has-error");
    })


</script>

</body>
</html>